@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;1,400&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import 'tailwindcss';
/* @source './src*.{astro,html,js,jsx,md,mdx,svelte,ts,tsx,vue}'; */

/* FONT DECLARATIONS */
@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-dark: #171717;
  --color-gray: #737472;
  --color-light: #cfd3c9;
  --color-white: #fff;
  --color-accent: #69b500;
  --color-new: #ff6347;

  /* --font-sans: 'Helvetica', sans-serif;
  --font-mono: 'Roboto Mono', monospace; */
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;

  --animate-fade-out: fade-out 0.5s ease forwards;

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

/* GLOBAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  @apply text-gray font-sans leading-relaxed;
}

/* page header */
h1 {
  @apply text-dark text-4xl md:text-5xl;
}
/* section headers */
h2 {
  @apply text-dark mb-3 text-2xl uppercase md:text-3xl;
}
/* sub-section headers */
h3 {
  @apply mb-3 text-lg uppercase;
}
/* resume role + footer body */
h4 {
  @apply font-mono;
}

a {
  @apply font-mono italic ease-in-out;
}
a:hover {
  @apply text-accent;
  /* not-italic */
}

button {
  @apply cursor-pointer font-mono uppercase;
}
button:hover {
  @apply text-accent;
}
img {
  @apply relative z-10;
}
figcaption {
  @apply text-gray mt-3 font-mono text-[0.7rem] tracking-widest uppercase;
}
ul ul,
ul ol,
ol ul,
ol ol {
  @apply mt-4 pl-10;
}

/* CUSTOM CLASSES */
.container-custom {
  @apply mx-auto max-w-[120rem] px-2 md:px-4;
}
.container-custom-small {
  @apply mx-auto w-full max-w-[52rem] px-4;
}
.img-container {
  @apply border-light overflow-hidden border;
}

.small-text {
  @apply text-sm uppercase;
}
.tiny-text {
  @apply font-mono text-[0.7rem] tracking-widest uppercase;
}
/* .nav-link {
  @apply mb-3 font-mono uppercase;
} */

/* .img-container:has(a):hover {
  @apply border-accent;
} */

/* scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: var(--color-light);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray);
  border-radius: 10px;

  @apply ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-dark opacity-50;
}
