@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

/* FONT DECLARATIONS */
@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-dark-green: #4e4f48;
  --color-beige: #f2eee4;
  --color-light-beige: #fcf9f2;
  --color-dark-beige: #e4e0d4;
  --color-green: #aeb29d;
  --color-light-green: #eaedde;
  --color-dark: #171717;
}

:root {
  --font-helvetica: 'Helvetica', sans-serif;
  --font-roboto-mono: 'Roboto Mono', monospace;
}

/* GLOBAL STYLES */

body {
  font-family: var(--font-helvetica);
}

code,
pre {
  font-family: var(--font-roboto-mono);
}

h1 {
  @apply text-2xl md:text-5xl;
}
h2 {
  @apply text-xl uppercase md:text-3xl;
}
h3 {
  @apply mb-4 text-lg uppercase;
  font-family: var(--font-roboto-mono);
}
h4 {
  @apply mb-4 uppercase;
  font-family: var(--font-roboto-mono);
  /* font-style: italic; */
}
h5 {
  font-family: var(--font-roboto-mono);
}
a {
  font-family: var(--font-roboto-mono);
}
a:hover {
  /* @apply text-dark-green underline; */
}
button {
  font-family: var(--font-roboto-mono);
  text-transform: uppercase;
}
img {
  @apply relative z-10 border border-gray-300;
}

/* CUSTOM CLASSES */
.container-custom {
  @apply mx-auto px-2 md:px-4;
}
.container-custom-small {
  @apply mx-auto max-w-4xl px-3;
}

/* .nav-container {
  @apply max-w-7xl mx-auto px-3 md:px-20 py-6 flex items-center justify-between;
} */

.small-text {
  @apply text-sm text-gray-500 uppercase;
}
