@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;1,400&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import 'tailwindcss';

/* FONT DECLARATIONS */
@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-dark: #171717;
  --color-gray: #737472;
  --color-light: #cfd3c9;
  --color-white: #fff;
  --color-accent: #69b500;

  /* --font-sans: 'Helvetica', sans-serif;
  --font-mono: 'Roboto Mono', monospace; */
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
}

/* GLOBAL STYLES */

body {
  @apply text-gray font-sans leading-relaxed;
}

h1 {
  @apply text-dark text-2xl md:text-5xl;
}
h2 {
  @apply text-dark mb-3 text-xl uppercase md:text-3xl;
}
h3 {
  @apply mb-3 text-lg uppercase;
}
h4 {
  @apply mb-3 font-mono uppercase;
}
h5 {
  @apply font-mono;
}
/* p {
  @apply leading-relaxed;
}
li {
  @apply leading-relaxed;
} */

a {
  @apply font-mono;
}
a:hover {
  @apply text-accent;
}
button {
  @apply font-mono uppercase;
}
img {
  @apply relative z-10;
}
figcaption {
  @apply text-gray mt-3 font-mono text-[0.7rem] tracking-widest uppercase;
}

/* CUSTOM CLASSES */
.container-custom {
  @apply mx-auto px-2 md:px-4;
}
.container-custom-small {
  @apply mx-auto w-4xl px-4;
}

.small-text {
  @apply text-sm uppercase;
}

.tiny-text {
  @apply font-mono text-[0.7rem] tracking-widest uppercase;
}

.img-container {
  @apply border-light overflow-hidden border;
}
