---
import Layout from '../layouts/Base.astro';
import { sanityClient } from 'sanity:client';

// Define the type for experience
interface Experience {
  company: string;
  role: string;
  dates: string;
  description?: string;
}

const experiences: Experience[] = await sanityClient.fetch(`
  *[_type == "experience"] | order(order asc) {
    company,
    role,
    dates,
    description
  }
`);

const images = [
  'https://cdn.sanity.io/images/rnk0k1nk/production/bb4fbceeb5d300985534664bdb5f096c445bb149-857x1284.jpg',
];
---

<Layout>
  <!-- hero -->
  <section>
    <div class="container-custom grid h-[34rem] grid-rows-3 gap-6">
      <!-- top -->
      <!-- <div class="grid grid-cols-12 gap-6">
        <div class="col-span-8"></div>
        <div class="img-container col-span-4 aspect-square h-full">
          <img
            src="https://cdn.sanity.io/images/rnk0k1nk/production/bb4fbceeb5d300985534664bdb5f096c445bb149-857x1284.jpg"
            class="h-full w-full object-cover object-center transition-all"
          />
        </div>
      </div> -->
      <div></div>
      <!-- middle -->
      <div class="grid grid-cols-2 pl-6">
        <div></div>
        <div class="grid grid-cols-3">
          <!-- <div class="img-container aspect-square h-full">
            <img
              src="https://cdn.sanity.io/images/rnk0k1nk/production/bb4fbceeb5d300985534664bdb5f096c445bb149-857x1284.jpg"
              class="h-full w-full object-cover object-center transition-all"
            />
          </div> -->
          <div></div>
          <div></div>
          <div class="img-container aspect-square h-full">
            <img
              src="https://cdn.sanity.io/images/rnk0k1nk/production/bb4fbceeb5d300985534664bdb5f096c445bb149-857x1284.jpg"
              class="h-full w-full object-cover object-center transition-all"
            />
          </div>
        </div>
      </div>
      <!-- bottom -->
      <div class="row-span-1 grid grid-cols-2 gap-6">
        <h1 class="col-span-1">Nice to meet you,</h1>
        <div class="col-span-1 flex flex-col gap-4 text-sm">
          <p>
            I’m Ciel, a 2024 graduate from the University of Virginia, where I studied a blend of
            computer science, psychology, and design.
          </p>
          <p>
            Previously I’ve worked for a nonprofit, a startup, and an agency, where I worked on
            feature launches, experimented with animation, and learned professional web development.
          </p>
          <p>
            Apart from UX/UI, I love fashion, journaling, cozy games, ramen noodles, playing tennis,
            and books — currently (Aug 2025), I'm reading The Creative Act by Rick Rubin.
          </p>
          <p>
            Thanks for reading, and for visiting my page :) If you have any feedback, questions, or
            ideas for collaboration, I’d love to hear from you!
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Projects Section -->
  <section class="container-custom flex flex-col gap-8 py-24 md:gap-24 md:py-50">
    <h2>✦ Experience</h2>
    <div class="flex flex-col gap-10">
      {
        experiences.map((experience) => (
          <div class="flex flex-col justify-between gap-4 border-t border-gray-300 pt-4 md:flex-row">
            <div class="flex flex-col gap-4">
              <p class="small-text leading-none">{experience.company}</p>
              <h4>{experience.role}</h4>
              {experience.description && (
                <p class="text-sm text-gray-600">{experience.description}</p>
              )}
            </div>
            <p class="small-text leading-none">{experience.dates}</p>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
