<!-- Hero Section -->
<section class="bg-dark-beige ">
    <div class="container-custom min-h-screen flex flex-col justify-center gap-10">
        <div class="md:w-1/2 flex flex-col gap-4">
            <!-- Left Side - Intro -->
            <h1>Ciel Park</h1>
            <h5>is a designer & developer building products that drive engagement & growth</h5>
            <!--Overline -->
            <div class="flex justify-between py-4 border-t border-dark">
                <div class="flex gap-2">
                    <h5>Currently @</h5> 
                    <a href="https://www.northropgrumman.com/" target="_blank"><h5>Northrop Grumman</h5></a>
                </div>
                <div class="gap-2 hidden md:flex"> 
                    <h5>Previously @</h5>
                    <a href="https://viget.com" target="_blank"><h5>Viget</h5></a>
                </div>
            </div>
        </div>
        
        
        <!-- Right Side - Image -->
        <div class="z-0 h-60 md:absolute md:top-0 md:right-0 md:w-2/5 md:h-svh overflow-hidden"> 
            <img src="https://cdn.sanity.io/images/rnk0k1nk/production/77bfecd332da17ba9e69bf060ba1e9eb67d41bc8-4619x7266.jpg" alt="Inkbrush painting of a tree" class="w-full h-full object-cover" />
            <!-- Image Overlay -->
            <!-- <div class="absolute inset-0 bg-gradient-to-b from-dark/50 to-transparent"></div> -->
        </div>
    </div>
</section>