---
import Texture from '../components/Texture.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Ciel Park | Designer + Developer</title>
  </head>
  <body class="text-dark">
    <!-- Navigation -->
    <header class="text-gray z-50 py-2">
      <nav class="container-custom text-[.95em] uppercase">
        <div class="flex items-center gap-6">
          <!-- logo -->
          <a href="../" class="flex basis-1/2 items-center gap-4">
            <!-- <span class="text-dark text-6xl">*</span> -->
            <!-- <span>Ciel Park</span> -->
            <img
              src="https://cdn.sanity.io/images/rnk0k1nk/production/c3ececaa25fb672efb1458aaa36d80b0907e552f-44x44.svg"
              alt="Ciel Park Logo"
              class="max-h-8 border-none"
            />
          </a>

          <!-- mobile menu button -->
          <button id="menu-button" class="block px-2 py-1 sm:hidden">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.5 12.0005H19.5M4.5 17.7705H19.5M4.5 6.23047H19.5"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"></path>
            </svg>
          </button>

          <!-- navlinks -->
          <div class="flex hidden basis-1/2 justify-between sm:flex">
            <div class="flex gap-4 sm:flex sm:gap-9">
              <a href="../" class="flex items-center"> Work </a>
              <a href="../about">About</a>
              <a
                href="https://docs.google.com/document/d/1WYPBiH9gtH5_TwxMKfXFyviGZQjsrY-B/edit?usp=sharing&ouid=102465668666867636372&rtpof=true&sd=true"
                >Resume</a
              >
            </div>
            <a href="../" class="flex items-center"> Contact </a>
          </div>
        </div>
      </nav>

      <!-- Mobile Menu -->
      <div
        id="mobile-menu"
        class="absolute top-20 right-4 mt-2 flex hidden w-fit flex-col items-end rounded-xl sm:hidden"
      >
        <a href="../" class="px-4 py-2"><h4>Work</h4></a>
        <a href="../about" class="px-4 py-2"><h4>About</h4></a>
        <a
          href="https://drive.google.com/file/d/1aYkbI1Z-brlo3FeWJqVnlnxskvi6ihHu/view?usp=sharing"
          class="px-4 py-2"><h4>Resume</h4></a
        >
      </div>
    </header>

    <!-- Body Content -->
    <slot />

    <!-- footer -->
    <footer class="footer bg-dark border-light relative border-t text-white">
      <div class="container-custom flex w-full flex-col flex-col-reverse py-20 sm:flex-row">
        <!-- credits -->
        <div class="basis-1/2">
          <h3 class="text-white">Built with &lt3 by Ciel</h3>
        </div>
        <div class="flex basis-1/2">
          <!-- contact -->
          <div class="flex basis-2/3 flex-col gap-2">
            <h3 class="text-white">Contact</h3>
            <a href="mailto:cielcpark@gmail.com">
              <h5>cielcpark@gmail.com</h5>
            </a>
            <h5>Washington DC</h5>
            <h5 id="clock"></h5>
          </div>
          <!-- elsewhere -->
          <div class="flex basis-1/3 flex-col gap-2">
            <h3 class="text-white">Elsewhere</h3>
            <a href="https://www.linkedin.com/in/clprk/">
              <h5>LinkedIn</h5>
            </a>
            <a href="https://www.figma.com/@clprk">
              <h5>Figma</h5>
            </a>
            <a href="https://github.com/clprk">
              <h5>GitHub</h5>
            </a>
            <a href="https://codepen.io/clprk">
              <h5>CodePen</h5>
            </a>
          </div>
        </div>

        <!-- <a href="../" class="text-3xl">✦</a> -->
      </div>
    </footer>
  </body>
  <!-- <Texture /> -->
</html>

<script>
  // displaying mobile menu
  document.addEventListener('DOMContentLoaded', () => {
    const menuButton = document.getElementById('menu-button');
    const mobileMenu = document.getElementById('mobile-menu');
    const navLinks = document.getElementById('nav-links');

    if (menuButton && mobileMenu) {
      menuButton.addEventListener('click', () => {
        if (mobileMenu.classList.contains('hidden')) {
          mobileMenu.classList.remove('hidden');
        } else {
          mobileMenu.classList.add('hidden');
        }
      });
    }
  });

  // clock in footer
  var clockElement = document.getElementById('clock');
  function clock() {
    if (clockElement) {
      clockElement.textContent = new Date().toLocaleTimeString();
    }
  }
  setInterval(clock, 1000);
</script>
